@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-brand-primary: #5c4033;
  --color-brand-secondary: #d4a373;
  --color-brand-accent: #faedcd;
}

@layer base {
  body {
    @apply font-sans bg-stone-50 text-stone-900;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}